//font family included
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$poppinsFont: 'Poppins', sans-serif;

//solid color
$white: #fff;
$black: #000;

//theme color
$themeColor: #2500f9;
$bodyColor: #616368;
$hoverColor: #b67037;

//text color
$titleColor: #242F51;
$subTitleColor: #242F51;
$textColor: #616368;

//button color
$bgBtnColor: #18C2A5;

//background color
$bgHeader: #186483;
$bgFooter: #344B8E;